* { box-sizing: border-box; font-family: Arial, Helvetica, sans-serif; }
html { height: 100% }
body { height: 100%; margin: 0; padding: 0; overflow: hidden; }
h1 { margin: 0; }
a { color: #eee; }

#map-canvas { height: 100%; overflow: hidden; }

#mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.5);
}
#mask img {
    width: 50px;
    height: 50px;
    margin-top: 20%;
}

#overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100px;
    padding: 1em 2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
}
#close_overlay {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 1px 3px 3px 3px;
    color: #666;
    background-color: #ccc;
    border-radius: 2px;
    cursor: pointer;
}
#header { float: left; }
#header h1 a { color: white; text-decoration: none; }
.addthis_toolbox { clear: both; float: left; margin-top: 10px; }
.addthis_toolbox p { float: left; margin: 0 10px 0 0; }

#nav { clear: right; float: right; }
#nav ul { margin: 0; list-style-type: none; }
#nav ul li { float:left; margin: 0.5em 1em; }
#nav ul li:last-child { margin-right: 0; }

#change { float: right; }
#change p { margin: 0; color: #eee; font-size: 0.7em; font-style: italic; text-align: right; }

#attribution {
    position: absolute;
    right: 40px; bottom: 15px;
    padding: 5px;
    z-index: 1;
    background-color: rgba(200, 200, 200, 0.6);
    font-size: 0.75em;
    font-weight: bolder;
    text-align: center;
}
#attribution a { color: black; text-decoration: none; }
#skycon { margin-top: 3px; border: none; }

.map_marker_window { display: table; }
.map_marker_window h3 { display: table-caption; margin-bottom: 0; }
.map_marker_window > div { display: table-row; }
.map_marker_window > div > div { display: table-cell; }
.map_marker_window img { width: 50px; }
.map_marker_window span.wi { font-size: 40px; }
.map_marker_window a { color: #666; }
.map_marker_window p { white-space: nowrap; }
.map_marker_window .time { float: right; margin-top: 0; font-size: 0.8em; font-style: italic; }

#about {
    position: relative;
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    max-height: 90%;
    overflow-y: auto;
    border-radius: 5px;
}
#about .mfp-close { color: white; font-weight: bold; }
#about p, #about li { color: #ccc; }
