<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="{{ static('favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('css/magnific.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('css/weather-icons.min.css') }}">

    <script type="text/javascript"
            src="//maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&sensor=false">
    </script>
    <script type="text/javascript" src="{{ static('js/markerwithlabel.min.js') }}"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        var api_map_options_url = "{{ url('api:map_options', kwargs={'location_code': init_location_code}) }}",
            api_weather_markers_url = "{{ url('api:weather_markers') }}",
            api_info_window_url = "{{ url('api:info_window') }}",
            loading_image_url = "{{ static('images/loading.gif') }}";
    </script>
    <script type="text/javascript" src="{{ static('js/update-maps.js') }}"></script>

    <script src="{{ static('js/magnific.js') }}"></script>
    <script src="{{ static('js/skycons.js') }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('.ajax-popup').magnificPopup({
                type: 'ajax',
                closeBtnInside: true
            });
            var skycons = new Skycons({"color": "black"});
            skycons.add('skycon', Skycons.PARTLY_CLOUDY_DAY);
            skycons.play();
        });
    </script>

    <meta property="og:title" content="Is It Sunny Near Me?"/>
    <meta property="og:description" content="View local microclimates on a map and follow the sun!"/>
    <meta property="og:type" content="http://isitsunnynear.me"/>
    <meta property="og:url" content="website"/>
    <meta property="og:image" content="{{ static('images/sharing-preview.png') }}"/>

    <meta property="twitter:card" content="website"/>
    <meta property="twitter:title" content="Is It Sunny Near Me?"/>
    <meta property="twitter:description" content="View local microclimates on a map and follow the sun!"/>
    <meta property="twitter:type" content="http://isitsunnynear.me"/>
    <meta property="twitter:image" content="{{ static('images/sharing-preview.png') }}"/>
</head>
<body>
    <div id="overlay">
        <a id="close_overlay" onclick="jQuery('#overlay').slideUp('fast');">x</a>
        <header id="header">
            <h1><a href="/">Is It Sunny Near Me?</a></h1>
            <!-- AddThis Button Bar -->
            <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
                <P>Share the Sun:</P>
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_pinterest_share"></a>
                <a class="addthis_button_google_plusone_share"></a>
                <a class="addthis_button_compact"></a>
                <a class="addthis_counter addthis_bubble_style"></a>
            </div>
            <!-- End AddThis code -->
        </header>
        <div id="change">
            <form action="" method="get" onsubmit="return validate_location_code(this);">
                <!-- <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> -->
                <label for="location_code">Enter ZIP:</label>
                <input type="text" id="location_code" name="location_code" />
                <!--
                <label for="time_code">Time:</label>
                <select id="time_code" onchange="return update_map(this.form);">
                    {% for time_code, display_time, selected in time_choices %}
                    <option value="{{ time_code }}" {% if selected %}selected="selected"{% endif %}>{{ display_time }}</option>
                    {% endfor %}
                </select>
                -->
                <input type="submit" value="Go" />
            </form>
        </div>
        <nav id="nav">
            <UL>
                <LI><a href="{{ url('about') }}" class="ajax-popup">About</a></LI>
                <LI><a href="mailto:feedback@isitsunnynear.me">Feedback</a></LI>
            </UL>
        </nav>
    </div>
    <div id="map-canvas"></div>
    <div id="attribution">
        <a target="_blank" href="https://darksky.net/poweredby/">
            <canvas id="skycon" width="64" height="64"></canvas>
            <BR>Powered By<BR>Darksky
        </a>
    </div>
    <div id="mask"><img src="{{ static('images/loading.gif') }}" /></div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-521e4ff24a9e69bb"></script>
</body>
</html>
