<div class="map_marker_window">
    <h3>{{ weather_dict.name }}</h3>
    <div>
        <div>
            <p>
                <strong>{{ weather_dict.temp }}&deg; F &amp; {{ weather_dict.weather }}</strong><br>
                Feels Like {{ weather_dict.feels_like }}&deg; F
            </p>
            <p>
                <a target="_blank"
                   href="{{ more_info_url.format(weather_dict.latitude, weather_dict.lon) }}">
                    More Info
                </a>
            </p>
            <p class="time">As of {{ weather_dict.time_observed }}</p>
        </div>
        <div>
            {% if use_icons %}
                <img src="{{ weather_dict.icon_url }}" />
            {% else %}
                <span class="wi wi-{{ weather_dict.weather_slug }}"></span>
            {% endif %}
        </div>
    </div>
</div>
